* {
  box-sizing: boarder-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 16px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #555;
}

main {
    max-width: 1000px;
    margin: 30px auto;
    padding: 0 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}



